.swiper {
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mainSwiper {
    height: 100%;
    width: 100%;
}

.thumbSwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.thumbSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.thumbSwiper .swiper-slide-thumb-active {
    opacity: 1;
}


